<h1>Experiencia</h1>

<h2>AXEDE S.A.</h2>
Ingeniero de calidad y soporte. 
•	Diseñar, planear y ejecutar pruebas funcionales y no funcionales de soluciones informáticas en todos los niveles del ciclo de vida de desarrollo de software.
•	Determinar el alcance de las pruebas a ejecutar, incluyendo que escenarios probar e identificando la infraestructura sobre la que se harán las pruebas.
•	Definir la estrategia de aseguramiento de calidad, por ejemplo, cómo preparar los datos o determinar qué pruebas deben ser automatizadas en que sprint.
•	Seguimiento de indicadores como la correctitud, confiabilidad y avance de la solución informática en cada iteración de desarrollo.
•	Descomposición de procesos en Subprocesos y funcionalidades que permiten un posterior aseguramiento de calidad.
•	Revisión de documentos de evaluación y diseño de las soluciones informaticas. 

Fecha inicio: 25/07/2018 - Actualmente 

<h2>OPEN INTERNATIONAL SYSTEMS SAS</h2>
Ingeniero, desarrollo software 
•	Evaluar, diseñar, construir, probar y mantener soluciones informáticas personalizadas para los clientes de la compañía BOSS (EPM, GAS NATURAL FENOSA, CHILQUINTA, ENTRE OTROS).
•	Definición de casos de pruebas, pruebas de unidad, pruebas funcionales y apoyo a usuarios finales en la etapa de pruebas de aceptación. Documentación, seguimiento y apoyo en la solución de incidentes.

Fecha inicio: 12/09/2016 – 23/07/2018 

<h2>OPEN INTERNATIONAL SYSTEMS SAS</h2>
Ingeniero, sistemas y computación
•	Supervisar el trabajo de programadores, técnicos y otros ingenieros.
•	Proponer, diseñar, construir, evaluar, auditar y mantener soluciones informáticas. 
•	Capacitación a usuario sobre el manejo de nuevas herramientas construidas.
•	Mantenimiento de página web (sao.openintl.com) que soporta todo el ciclo de la vida del producto Open Smartflex.
•	Construir y mantener una solución de software que soporta el ciclo de vida del producto Open Smartflex usando lenguajes como PLSQL, C#, HTML, JAVASCRIPT, JAVA, LINUX BASH

<h2>ID SYSTEMS S.A.</h2>
Auditor, sistemas 
•	Supervisar el trabajo de programadores, técnicos y otros ingenieros.
•	Analizar requerimientos para la aplicación de tecnología en ambientes de tiempo real, control de máquinas, instrumentación, telecomunicaciones y monitoreo ambiental.
•	Auditar tiempo de respuesta de las maquinas dispuestas para el proceso de preconteo, escrutinio y digitalización de todos los formatos relacionados con las elecciones de representantes públicos.
Fecha inicio: 01/06/2014 – 30/05/2017 
Experiencia: 6 meses (Contratos temporales).
