<h1>Formación</h1>

<h2>Ingeniero Web Full Stack</h2>
<h3>Enero 2019 - Presente</h3>
<p>
    Actualmente me encuentro certificándome como Ingeniero de Desarrollo Web Full Stack por medio 
    de la plataforma web Acámica, el cual se caracteriza por tener convenio con compañías con 
    reconocimiento mundial como son IBM, Globant, Mercadolibre, Globalogic, entre otros.
</p>

<h2>Ingeniero de Sistemas y Computación</h2>
<h3>Febrero 2009 - Julio 2014</h3>
<p>
    Graduado de la Universidad del Quindío de la carrera Ingeniero de Sistemas y Computación el 
    cual está acreditado con alta calidad según el Ministerio de Educación de Colombia.
</p>

<h2>Bachiller Técnico</h2>
<p>Como le parece que sena</p>

<!-- Formación Adicional -->

<h1>Formación Adicional</h1>

Planeación, Diseño y Ejecución de pruebas de software
Dirigido por: Green SQA y Pacifitic

Certificados SmartFlex
Gestión de órdenes, Modelo de Procesos, Work Flow, Atención al cliente, Prácticas exitosas para los servicios fijos de telecomunicaciones v7.08, Mejores Practicas de Industrias, Herramientas del Sistema, Facturación, Gestión de Cobro, Extracción de Datos, Productos y Solicitudes, Reportes Interactivos y Tableros de Control, Componente geográfico, Gestión de contratistas, Ventas, Consumos medidos, Recaudos.
