<h1>Portafolio</h1>
<hr>
<ul id="portaItems">
    <li>
        <img src="imgs/cv-icon.png" alt="">
        <p>Curriculum Vitae</p>
    </li>
    <li>
        <img src="imgs/cv-icon.png" alt="">
        <p>Home Banking</p>
    </li>
    <li>
        <img src="imgs/rompecabezas-icon.png" alt="">
        <p>Rompecabezas</p>
    </li>
    <li>
        <img src="imgs/pixel-art-icon.png" alt="">
        <p>Pixel Art</p>
    </li>
    <li>
        <img src="imgs/ciudad-zombie-icon.png" alt="">
        <p>Ciudad Zombie</p>
    </li>
    <li>
        <img src="imgs/encuestados-icon.png" alt="">
        <p>Encuestados</p>
    </li>
    <li>
        <img src="imgs/mapa-interactivo-icon.png" alt="">
        <p>Mapa Interactivo</p>
    </li>
    <li>
        <img src="imgs/que-veo-icon.png" alt="">
        <p>Lo que veo en Cine</p>
    </li>
</ul>