<h1>¿Quién soy?</h1>
<p>
    Soy una persona proactiva orientado a la calidad del trabajo, me desempeño bien trabajando con
    otros colegas y con un alto nivel propositivo. Me gusta aprender sobre nuevas tecnologías e investigar.
    Alto grado de capacidad de análisis para desempeñar actividades de atención a clientes, análisis, diseño, 
    construcción y pruebas de soluciones informáticas.
</p>
<p>
    Cuento con un alto conocimiento el sector de servicios de Utilities y Comunicaciones con más de 5 años
    de experiencia en el negocio de telecomunicaciones y servicios públicos. Cuento con conocimientos en 
    metodologías de trabajo ágiles como scrum, xtreme programing y metodologías robustas como RUP.
</p>


COMPETENCIAS TÉCNICAS
JAVA, HTML, CSS, PHP, JAVASCRIPT, .NET (C#), VB, PL/SQL, SHELL SCRIPT, YII, FRAMEWORK, JQUERY, NodeJS, Angular.

HABILIDADES EN SOFTWARE
AllPairs, Visual Studio, Microsoft Office, Adobe Photoshop, Final Cut, Mantis, GIT, Subversion Tortoise, Office 365.


IDIOMAS
	Lee	Habla	Escribe
Español	Nativo	Nativo	Nativo
Inglés	Medio - Alto	Medio - Alto

